<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--headerFragment 선언-->
<header th:fragment="headerFragment">
    <!-- 상단 로고 / 로그인 / 회원가입 -->
    <div class="top-container">
        <div class="row top">
            <div class="col-1"></div>
            <div class="col-1 logo">
                <div class="logo-box">
                    <span>ct</span>
                </div>
                <div class="logo-title">
                    <span onclick="location.href='/'">Catudy</span><span class="logo-dot">.</span>
                </div>
            </div>
            <div class="col-1 top-menu">
                <div>Home</div>
                <div onclick="location.href='/recruit'">모집</div>           
            </div>
            
            <div class="col-7"></div>
            <div class="col-1 top-user-menu">
                <!--비회원-->
                <th:block th:if="${session.member_id == null}">
                    <div class="top-btn"><a th:href="@{/join}">회원가입</a></div>
                    <div class="top-btn"><a th:href="@{/login}">로그인</a></div>
                </th:block>
                <th:block th:unless="${session.member_id == null}">
                    <form action="member_logout" method="get">
                        <div class="top-btn">
                            <button type="submit" class="madeBtn">로그아웃</button>
                        </div>
                    </form>
                </th:block>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <!-- 상단 로고 / 로그인 / 회원가입 끝 -->
</header>

</html>