/* font-family: 'Lily Script One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body {
    margin: 0;
    padding: 0;
    /* height: 100%;
    display: flex;
    flex-flow: column; */
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;    
    color: inherit !important;
}

#wrapper {
    width: 100%;
    height: auto;
    min-height: 100%;
    padding-bottom: 300px;
    margin: 0 auto;
}

.top-container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    border-bottom: 1px solid #D7DBDD;
    background-color: white;
}

.top {
    align-items: center;
}

/* 로고 */

.logo {
    display: flex;
    align-items: center;
}

.logo-box {
    width: 40px;
    height: 40px;
    background-color: #F4D03F;
    border-radius: 15px;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    font-family: 'Lily Script One', cursive;
    margin-right: 20px;
}

.logo-title {
    font-family: 'Lily Script One', cursive;
    font-size: 20px;
    cursor: pointer;
}

.logo-dot {
    color: #F4D03F;
    color: 48px;
}



/* 상단 유저 메뉴 */
.top-menu {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    cursor: pointer;
}

.top-menu div:hover{
    color: #F4D03F;
}

.top-user-menu {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    cursor: pointer;
    color: black;
}


.top-btn:hover {
    color: #F4D03F;
}

/*버튼*/
.madeBtn{
    width:  max-content;
    height: 38px;
    padding: 10px 16px;
    background: #F4D03F;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
}


/* 상단 유저 정보 */

.index-container {
    width: 100%;
    height: 400px;
    padding: 20px 150px;
    background-color: #FBFCFC;
    /* background-color: #B2BABB; */
    display: flex;
    /* flex-grow: 0;
    flex-wrap: wrap; */
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-family: 'Noto Sans KR', sans-serif;
    transition: 0.3s;
}

.index-user-time {
    width: 400px;
    padding: 0;
    text-align: center;
}

.index-user-time>p,
.index-user-content>p {
    font-weight: 700;
    font-size: 16px;
}

.study-join-btn {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #F4D03F;
    color: #fff;
    border: none;
    outline: none;
}

.user-study-time {
    height: 300px;
    background-color: #F4F6F7;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
    transition: 0.3s;
}

.index-user-content {
    width: 800px;
    padding: 0;
    text-align: center;
    transition: 0.3s;
}


.user-info {
    height: 300px;
    background-color: #FEF9E7;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* 섹션 타이틀 */
.section-title {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title p {
    font-size: 24px;
    font-weight: 500;
}

/* 탭 메뉴 */

.tab-container {
    width: 100%;
    height: 60px;
    border-top: 1px solid #ECF0F1;
    border-bottom: 1px solid #ECF0F1;
    font-size: 14px;
    /* background-color: #FBFCFC; */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
}

.tab-menu {
    width: 100%;
}

.tab-list {
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
    padding-left: 0;
}

.tab-list li,
.sort-list li {
    display: inline-block;
    /* float: left; */
    margin-right: 100px;
    transition: 0.1s;
}

.tab-list li:hover {
    cursor: pointer;
    color: #F4D03F;
}

.select-sort {
    width: 150px;
    /* height: 30px; */
    /* border: 1px solid #D0D3D4; */
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

/* 스터디 공간 */

.room-container {
    width: 100%;
    height: 100%;
    padding: 70px 150px;
}

/* .room-content > div {
    width: 20%;
    /* float: left;
} */

.room-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
}

.room-box {
    width: 250px;
    height: 300px;
    border: 1px solid #F2F3F4;
    border-radius: 5px;
    flex-grow: 0;
    margin-bottom: 30px;
    cursor: pointer;
    overflow: hidden;
}

.room-box:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.room-img {
    width: 100%;
    height: 180px;
    background-image: url('/img/raccoon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;
    color: white;
    font-size: 13px;
}

.room-info {
    width: 100%;
    height: 120px;
    padding: 20px;
    text-align: center;
}

.room-info p {
    font-weight: 500;
}

.room-tag {
    color: #7B7D7D;
    font-size: 13px;
    margin: 0px 5px 0px 5px;
}

.middle-line {
    width: 100%;
    height: 1px;
    border-top: 1px dotted #D0D3D4;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.more-btn {
    width: 100px;
    height: 50px;
    position: absolute;
    border: 1px solid #D0D3D4;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    cursor: pointer;
}

.more-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border: 1px solid #F4D03F;
}

/* 모집해요 */

.board-container {
    width: 100%;
    height: 100%;
    background-color: #F4F6F7;
    padding: 70px 150px;
}

.board-title {
    width: 100%;
    margin-bottom: 20px;
}

.board-title p {
    font-size: 24px;
    font-weight: 500;
}

.board-tag {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.board-tag span {
    /* border: 1px solid #D0D3D4; */
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
    color: black;
    cursor: pointer;
}

.board-tag span:hover {
    border: none;
    background-color: #F4D03F;
    color: white;
}

.board-tag span:not(:last-child) {
    margin-right: 10px;
}

.search-input{
    width: 150px;
    height: 30px;
    border: 1px solid lightgray;
    padding: 5px;
    outline: none;
}

.btn-search {
    width: 50x;
    height: 30px;
    border: none;
    background-color: #F4D03F;
    color: white;
    font-size: 14px;
}

input::-webkit-input-placeholder {
    font-size: 13px;
}


.board-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1;
    margin-top: 50px;
    transition: 0.3s;
}

.board-box {
    width: 300px;
    height: 200px;
    /* border: 1px solid #D0D3D4; */
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    transition: all 0.2s;
    cursor: pointer;
}

.board-box:hover {
    background-color: #FEF5E7;
}

.board-badge {
    width: 100%;
    /* border: 1px solid coral; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

.badge-state {
    width: 55px;
    height: 20px;
    line-height: 20px;
    background-color: #F4D03F;
    color: white;
    font-weight: 400;
}

.upload-time {
    color: lightgray;
}

.finish {
    background-color: #979A9A;
}

.board-subject {
    font-size: 17px;
    font-weight: 500;
    /* border: 1px solid red; */
}

.subject-title {
    margin: 0;
}

.subject-date {
    font-size: 11px;
    color: lightgray;
    display: inline;
    line-height: -10px;
}

.board-message div {
    width: 280px;
    font-size: 14px;
    overflow: hidden; /* 초과되는 부분은 숨김 처리 */
    white-space: nowrap; /* 줄바꿈 안되게 */ 
    word-wrap: normal; 
    /* border: 1px solid red; */
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.board-hashtag {
    font-size: 13px;
    color: #7B7D7D;
}

.board-hashtag span:not(:last-child) {
    margin-right: 10px;
}

.board-more-btn {
    width: 100%;
    padding: 20px;
    text-align: right;
    font-size: 14px;
}

/* 하단 */
.footer-container {
    width: 100%;
    height: 250px;
    padding: 70px 150px;
    background-color: #424949;
    /* flex: 1; */
}

.list10:nth-child(n+11){
    display: none;
}

.disNone{
    display: none;
}

.Btn{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 0;
    outline: 0;
}

.bg-yel{
    background-color: #F4D03F;
}

.Btn:hover{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    color: #F4D03F;
    cursor: pointer;
    border-radius: 8px;
    border: solid 1px #F4D03F;
    background-color: white;
}







/* 반응형 미디어 쿼리 */
@media screen and (max-width : 1200px) {
    .index-user-time {
        width: 800px;
    }

    .index-user-content {
        width: 800px;
        margin-top: 50px;
    }

    .index-container {
        height: 800px;
        flex-direction: column;
    }

    .tab-list {
        margin-right: 0;
        text-align: center;
    }

    .tab-list li,
    .sort-list li {
        margin-right: 50px;
    }

    .section-title p {
        font-size: 24px;
        font-weight: 500;
    }

    .section-title {
        justify-content: flex-start;
    }

    /* .room-box {
        flex-basis: 49%;
    } */

    /* .room-content > div {
        width: 30%;
        float: left;
    } */
}


@media screen and (max-width : 768px) {

    .index-user-time {
        width: 600px;
    }

    .index-user-content {
        width: 600px;
        margin-top: 50px;
    }

    .tab-list li,
    .sort-list li {
        margin-right: 30px;
    }

    .section-title p {
        font-size: 24px;
        font-weight: 500;
    }

    .line-text {
        display: block;
        
    }

    /* .room-box {
        flex-basis: 100%;
    } */

    /* .room-content > div {
        width: 50%;
        float: left;
    } */

}