/* font-family: 'Lily Script One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

.all-container {
    width: 100%;
    margin: 0 auto;
}

.top-container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    border-bottom: 1px solid #D7DBDD;
}

.top {
    align-items: center;
}

/* 로고 */

.logo {
    display: flex;
    align-items: center;
}

.logo-box {
    width: 40px;
    height: 40px;
    background-color: #F4D03F;
    border-radius: 15px;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    font-family: 'Lily Script One', cursive;
    margin-right: 20px;
}

.logo-title {
    font-family: 'Lily Script One', cursive;
    font-size: 20px;
}

.logo-dot {
    color: #F4D03F;
    color: 48px;
}

/* 상단 유저 메뉴 */
.top-menu {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}


/* login 폼 */

.centerForm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 100px;
}

/* input */
.inputDesign{
    width: 100%;
    height: 58px;
    padding: 10px 12px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    outline: 0;
    color: #333;
    letter-spacing: .2px;

}

/* 버튼 */
.Btn{
    width: 100%;
    height: 62px;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 0;
    outline: 0;
}

/* 가입하기버튼 */
.joinBtn{
    border: 1px solid rgba(0,0,0,0.2);
    background-color: white;
    color : rgb(133, 133, 133);
}

/* 컬러 yello */
.bg-yel{
    background-color: #fee585;
}

/* margin bottom */
.marginBot{
    margin-bottom: 28px;
}

/* font Design */
.fontDesign{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #4b4b4b;
    line-height: 1;
}












/* 여기부터 태블릿 */
@media screen and (max-width: 1200px){

}

/* 여기부터 모바일 */
@media screen and (max-width: 768px){

    .centerFrom{
        width: 200px;
    }

}