@charset "UTF-8";

/* font-family: 'Lily Script One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

div {
    margin: 0;
}


button {
    border: none;
    cursor: pointer;
}

li {
    /* list-style: none; */
    cursor: pointer;
}


a, p, span, button, input {
    text-decoration: none;
    outline: none;
}

.wrapper {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    padding-bottom: 250px;
}

.recruit-container {
    width: 100%;
    height: auto;
    padding: 20px 150px;
    /* border: 1px solid red; */
    background-color: #FBFCFC;
}

.recruit-top-container {
    font-weight: 500;
}

.recruit-top-title {
    font-size: 24px;
}

.recruit-top-input {
    width: 100%;
    /* background-color: #F5B041; */
    padding: 20px;
    color: black;
    font-weight: 400;
    
}

.recruit-top-form {
    width: 100%;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: start;
}

.recruit-top-form div {
    margin: 0;
}

.recruit-search-input {
    width: 500px;
    height: 35px;
    padding: 10px;
    margin: 0;
    border: 1px solid #D7DBDD;
    border-radius: 5px;
}

.recruit-search-btn {
    width: 50px;
    height: 35px;
    background-color: #F4D03F;
    font-size: 13px;
    margin: 0;
    margin-left: 10px;
    color: white;
    border-radius: 5px;
}



.recruit-list-container {
    width: 100%;
    height: auto;
    padding: 20px 150px;
    /* border: 1px solid red; */
}

.recruit-list-menu {
    width: 100%;
    /* border-bottom: 1px solid red; */
    font-size: 15px;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: 400;
}

.recruit-list-menu span {
    cursor: pointer;
}

.recruit-list-menu span:hover {
    color: #F4D03F;
}

.recruit-list-menu span:not(:last-child){
    margin-right: 50px;
}

.write-btn {
    width: 100px;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #424949;
    color: white;
}

.recruit-list {
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 30px;
}

.recruit-list-box {
    width: 100%;
    margin: 0 auto;
    height: 250px;
    border-top: 1px solid lightgray;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    /* border-bottom: none; */
    transition: 0.1s;
    cursor: pointer;
}

.recruit-list-box:last-child {
    border-bottom: 1px solid lightgray;
}

.recruit-list-box:hover {
    background-color: #F7F9F9;
}

.recruit-content {
    padding: 15px;
    width: 100%;
    /* border: 1px solid coral; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recruit-comment {
    width: 200px;
    padding: 10px;
    border: 1px solid cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.recruit-badge-state {
    width: 100%;
    font-size: 13px;
    color: lightgray;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.recruit-badge {
    width: 60px;
    height: 20px;
    background-color: #F4D03F;
    color: white;
}

.finish {
    background-color: #979A9A;
}

.recruit-main-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recruit-main-subject {
    font-size: 20px;
    font-weight: 700;
}

.recruit-main-date {
    font-size: 14px;
    color: #B2BABB;
    letter-spacing: 1px;
}

.recruit-summary-content {
    width: 100%;
    height: 60px;
    line-height: 30px;
    /* border: 1px solid red; */
    font-size: 14px;
    font-weight: 400;
    display:-webkit-box; 
    word-wrap: break-word; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.recruit-post-writer {
    display: flex;
    justify-content: space-between;
    color: #7B7D7D;
    font-size: 14px;
}


