<!DOCTYPE html>
<!--thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Stylesheet (index.html's css file)-->
    <link rel="stylesheet" href="/css/index.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--제이쿼리cdn-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <header th:replace="/fragment/head.html :: headerFragment"></header>
</head>

<body>

<!-- 상단 유저 정보 -->
<div class="index-container">
    <div class="index-user-time">
        <th:block th:if="${session.member_id == null}">
            <p>내 공부 기록</p>
            <div class="user-study-time">
                <p>로그인한 상태에는 유저의 공부 시간 출력</p>
                <p>캐터디, 지금 바로 참여하세요.</p>
                <button class="study-join-btn">스터디 참여하기</button>
            </div>
        </th:block>
        <th:block th:if="${session.member_id != null}">
            <p>내 공부 기록</p>
            <div class="user-study-time">
                <p>로그인한 상태에는 유저의 공부 시간 출력</p>
                <p>캐터디, 지금 바로 참여하세요.</p>
                <button class="study-join-btn">스터디 참여하기</button>
            </div>
        </th:block>
    </div>
    <div class="index-user-content">
        <p>내 스터디</p>
        <div class="user-info">
            <div>유저 정보 1</div>
            <div>유저 정보 2</div>
            <div>유저 정보 3</div>
        </div>
    </div>
</div>
<!-- 상단 유저 정보 끝 -->

<!-- 캐터디 타이틀 -->
<div class="section-title" style="padding: 20px 150px; margin-top: 50px;">
    <div>
        <p>캐터디 
            <span class="line-text">둘러보기</span>
            <th:block th:unless="${session.member_id == null}">
                <span onclick="location.href='/createRoom'" class="line-text madeBtn ">스터디만들기</span>
            </th:block>     

           

        </p> 
        
    </div>

    <div class="tab-sort">
        <ul style="list-style-type: none;" class="sort-list">
            <li>
                <input type="checkbox" id="insert-room">
                <label for="insert-room">참여 가능한 캐터디 보기</label>
            </li>
            <li>
                <select class="select-sort">
                    <option>가나다순</option>
                    <option>역순</option>
                </select>
            </li>
        </ul>
    </div>
</div>
<!-- 캐터디 타이틀 -->

<!-- 탭 메뉴 -->
<div class="tab-container">
    <div class="tab-menu">
        <ul style="list-style-type: none;" class="tab-list">
            <li>전체</li>
            <li>어학</li>
            <li>자격증</li>
            <li>공무원</li>
            <li>기타</li>
        </ul>
    </div>
</div>
<!-- 탭 메뉴 끝 -->

<!-- 스터디 공간 -->
<div class="room-container">
    <div class="room-content">
        <!-- 01 -->
        <div class="room-box list10" th:each="room, loop: ${roomList}" id="rooms_list">

            <a th:href="@{/roomInfo(id=${room.room_no})}">
            <!-- <a th:href="@{/show(room=${room.room_no})}"> -->
                <div class="room-img">
                    <p> 3 / 4</p>
                </div>
                <div class="room-info">
                    <p th:text="${room.room_title}">방제목</p>
                    <span class="room-tag" th:text="${room.room_ruler}">#공무원</span>
                    <span class="room-tag">#열공하자</span>
                    <span class="room-tag">#배고파</span>
                </div>
            </a>
        </div>

    </div>

    <div class="middle-line">
        <div class="more-btn" id="moreRoom">더 보기</div>
    </div>
</div>
<!-- 스터디 공간 끝 -->

<!-- 모집해요 -->
<div class="board-container">
    <div class="board-title">
        <p>캐터디 모집</p>
    </div>
    <div class="board-tag">
        <div>
            <span>#공무원</span>
            <span>#토익</span>
            <span>#취업</span>
            <span>#취준</span>
            <span>#임용</span>
            <span>#자율</span>
        </div>
        <div class="board-search">
            <input type="search" placeholder="Search" class="search-input">
            <button type="submit" class="btn-search">검색</button>
        </div>
    </div>

    <div class="middle-line"></div>

    <div class="board-list">
        <!-- 모집중 -->
        <div class="board-box">
            <div class="board-badge">
                <div class="badge-state">모집중</div>
                <div class="upload-time">30초 전</div>
            </div>
            <div class="board-subject">
                <p class="subject-title">스터디원 구해요</p>
                <p class="subject-date">22/08/11 ~ 22/08/31</p>
            </div>
            <div class="board-message">
                <div>매일 5시간씩 같이 공부 웅앵</div>
            </div>
            <div class="board-hashtag">
                <span>#토익</span>
                <span>#만점</span>
                <span>#열심히하자</span>
            </div>
        </div>
        <!-- 모집 완료 -->
        <div class="board-box">
            <div class="board-badge">
                <div class="badge-state">모집중</div>
                <div class="upload-time">30초 전</div>
            </div>
            <div class="board-subject">
                <p class="subject-title">스터디원 구해요</p>
                <p class="subject-date">22/08/11 ~ 22/08/31</p>
            </div>
            <div class="board-message">
                <div>손 들어서 니 머리를 힘껏 내려쳐~ 집에 보내줘 집에 가고 싶어 으아악!!! 으악!!! 으아악!!! 으아악!!! 으악!!! 으아악!!! 으악!!!
                    으아악!!! 으악!!! 으아악!!!으아악!!! 으악!!! 으아악!!!으아악!!! 으악!!! 으아악!!!
                </div>
            </div>
            <div class="board-hashtag">
                <span>#토익</span>
                <span>#만점</span>
                <span>#열심히하자</span>
            </div>
        </div>
        <!-- 모집 완료 -->
        <div class="board-box">
            <div class="board-badge">
                <div class="badge-state">모집중</div>
                <div class="upload-time">30초 전</div>
            </div>
            <div class="board-subject">
                <p class="subject-title">스터디원 구해요</p>
                <p class="subject-date">22/08/11 ~ 22/08/31</p>
            </div>
            <div class="board-message">
                <div>손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어손 들어</div>
            </div>
            <div class="board-hashtag">
                <span>#토익</span>
                <span>#만점</span>
                <span>#열심히하자</span>
            </div>
        </div>
        <!-- 모집 완료 -->
        <div class="board-box">
            <div class="board-badge">
                <div class="badge-state">모집중</div>
                <div class="upload-time">30초 전</div>
            </div>
            <div class="board-subject">
                <p class="subject-title">스터디원 구해요</p>
                <p class="subject-date">22/08/11 ~ 22/08/31</p>
            </div>
            <div class="board-message">
                <div>손 들어</div>
            </div>
            <div class="board-hashtag">
                <span>#토익</span>
                <span>#만점</span>
                <span>#열심히하자</span>
            </div>
        </div>
        <!-- 모집 완료 -->
        <div class="board-box">
            <div class="board-badge">
                <div class="badge-state finish">모집 완료</div>
                <div class="upload-time">30초 전</div>
            </div>
            <div class="board-subject">
                <p class="subject-title">스터디원 구해요</p>
                <p class="subject-date">22/08/11 ~ 22/08/31</p>
            </div>
            <div class="board-message">
                <div>손 들어</div>
            </div>
            <div class="board-hashtag">
                <span>#토익</span>
                <span>#만점</span>
                <span>#열심히하자</span>
            </div>
        </div>

    </div>
    <div class="board-more-btn">더 보기</div>


</div>

<footer th:replace="/fragment/foot.html :: footerFragment"></footer>
<!--js링크-->
<script src="/js/index.js"></script>
</body>

</html>