<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.woorin.catudy.mapper.MainMapper">

<select id="testSelect" resultType="String">
	SELECT testString FROM testTBL WHERE p_id = #{p_id}
</select>

</mapper>