<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.woorin.catudy.mapper.MemberRoomAttendanceMapper">

    <insert id="studyStart" parameterType="org.woorin.catudy.model.memberRoomAttendanceDTO">
        insert into memberRoomAttendance values(#{room_no}, #{member_no}, now(), null, null, 1)
    </insert>

    <select id="getMemberRoomAttendance" resultType="org.woorin.catudy.model.memberRoomAttendanceDTO">
        select * from memberRoomAttendance where attendance_room_no = #{room_no} and attendance_member_no = #{member_no}
    </select>

    <update id="studyEnd">
        update memberRoomAttendance set attendance_study_end_time = now(), attendance_study_time = #{study_time} where attendance_room_no = #{room_no} and attendance_member_no = #{member_no}
    </update>

    <delete id="deleteMemberAttendance">
        delete from memberRoomAttendance where attendance_member_no = #{member_no}
    </delete>

    <delete id="deleteRoomAttendance">
        delete from memberRoomAttendance where attendance_room_no = #{room_no}
    </delete>

    <delete id="deleteMemberRoomAttendance">
        delete from memberRoomAttendance where attendance_member_no = #{member_no} and attendance_room_no = #{room_no}
    </delete>


</mapper>